example/
pretrained_models.zip
pretrained_models/
esim_py/build/
esim_py/*.egg*
esim_torch/build/
esim_torch/src/*.egg*
.vscode/
*.swp
*.pyc
log/*
split*
__pycache__
dataset/
rosbag_dataset/
*.ckpt
.idea/

esim_py/tests/data/upsampled/*
esim_py/tests/data/images/imgs/*
